.volumeParent{
    height: 20px !important;
    width: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end !important;
    bottom: 0px !important;
    position: relative !important;
    .volumeProgress{
        display: none;
        position: absolute;
        bottom: 250%;
        border-radius: 5px;
        z-index: 100;
        transition: 1s ease-in-out;
    }
    &:hover{
        .volumeProgress{
            display: flex;
        }
    }
}

#rangebar {
    overflow: hidden;
    width: 80px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
    #rangebar::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #000000;
    }