.volumeParent{
    height: 20px !important;
    width: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end !important;
    bottom: 0px !important;
    position: relative !important;
    .volumeProgress{
        display: none;
        position: absolute;
        bottom: 250%;
        border-radius: 5px;
        z-index: 100;
        transition: 1s ease-in-out;
    }
    &:hover{
        .volumeProgress{
            display: flex;
        }
    }
}

